// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors

$brand-primary: rgba(1, 196, 138, 1);
$brand-alt-one: rgba(0, 71, 119, 1);
$brand-alt-two: rgba(164, 36, 59, 1);
$brand-alt-three: rgba(247, 181, 56, 1);
$brand-dark: rgba(51, 51, 51, 1);



// Fonts
$font-stack: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;
$font-light: 300;
$font-medium: 400;
$font-bold: 900;