/*=========================================================================*/
/*	#. Contact-Page Styles
/*=========================================================================*/

// Ninja Form Styles
.ninja-forms-cont { font-size: 1.5em; }

.text-wrap.label-above label,
.textarea-wrap.label-above label {
  text-transform: uppercase;
}

.ninja-forms-form-wrap input,
.ninja-forms-form-wrap select,
.ninja-forms-form-wrap textarea {
  height: 2.5em;
}

.ninja-forms-form-wrap textarea {
    height: 100px!important;
}
