/*========================*/
/*	#. Front-Page Styles
/*========================*/


/********** HOME SECTION **********/

#home,
#about,
#work,
#contact {
	min-height: 100vh;
}

#about,
#work,
#contact {
	padding-top: 5em;
}

#contact {
	margin-top: 5em;
	background: $brand-alt-one;
	color: #eee;
	textarea,
  input {
		color: #333;
	}
}

#home {
	margin-top: 0;
	@media(min-width: $screen-md-min) { margin-top: 8em; }
}

#homeBox {
  margin-bottom: 4em;
  overflow: none;
	text-align: center;
}

#homeHeader {
	> h1 {
		font-size: 4em;
		@media(min-width: $screen-sm-min) { font-size: 4.8em; }
	}
}

.home-header {
	margin-bottom: 4.5em;
	> h1 {
		font-size: 5em;
		text-align: center;
		@media(min-width: $screen-sm-min) {
			font-size: 8em;
			text-align: left;
		}
	}
}

.subHead h2 {
	font-size: 2em;
	font-weight: $font-medium;
}





/********** ABOUT SECTION **********/

#about {
	background: $brand-primary;
	color: #fefefe;
	a {
		color: $brand-alt-one;
		text-decoration: underline;
		&:hover { color: $brand-alt-two; }
	}
}

.headshot { border-radius: 50%; }





/********** WORK SECTION **********/

.work-previews { margin-bottom: 5em; }

.title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  min-width: 100%;
  padding-left: 2%;
  line-height: 1.2;
  font-weight: $font-bold;
  color: $brand-primary;
  background: #fff;
  &.pixies {
  	font-size: 6em;
  	@media(min-width: $screen-sm-min) { font-size: 7em; }
		@media(min-width: $screen-lg-min) { font-size: 9em; }
  }
  &.adamyale {
  	font-size: 3em;
  	@media(min-width: $screen-sm-min) { font-size: 5em; }
  }
  &.ingrid {
  	font-size: 2em;
  	@media(min-width: $screen-sm-min) { font-size: 3em; }
		@media(min-width: $screen-lg-min) { font-size: 4em; }
  }
  &.maroon5 {
  	font-size: 6em;
  	@media(min-width: $screen-sm-min) { font-size: 7em; }
		@media(min-width: $screen-lg-min) { font-size: 8em; }
  }
  &.watterson {
  	font-size: 3em;
  	@media(min-width: $screen-sm-min) { font-size: 4em; }
		@media(min-width: $screen-lg-min) { font-size: 6em; }
  }
  &.obicreative {
  	font-size: 4em;
  	@media(min-width: $screen-sm-min) { font-size: 5em; }
		@media(min-width: $screen-lg-min) { font-size: 7em; }
  }
  &.manu {
  	font-size: 4em;
  	@media(min-width: $screen-sm-min) { font-size: 5em; }
		@media(min-width: $screen-lg-min) { font-size: 8em; }
  }
}

.workImg {
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	> img {
		opacity: 1;
    transition: all .1s linear;
	}
	&:hover,
  &:focus {
		background: $brand-primary;
		&:nth-child(even) {
			background-color: $brand-alt-two;
			> .title-overlay {
				color: $brand-alt-two;
			}
		}
		& .imgWrap {
	    background-color: $brand-primary;
	    transition: all .1s linear;
	    opacity: .2;
		}
		.title-overlay {
			visibility: visible;
			transition: all .1s linear;
		}
	}
}

.see-more {
	font-size: 2.5em;
	text-align: center;
	text-transform: none;
	a {
		text-decoration: underline;
		font-weight: 800;
	}
}

